@model List<SportBoard.Data.DAL.UserNotification>
@{
    ViewBag.Title = "Index";
}

<h2>Inbox</h2>
<div class="col-md-12">
    <div id="notificationfilterOptions" class="col-md-12">
        <ul class="nav nav-tabs" id="filterOptions">
            <li role="presentation" class="All active"><a href="#">All</a></li>
            <li role="presentation" class="Posts"><a href="#">Posts</a></li>
            <li role="presentation" class="Comments"><a href="#">Comments</a></li>
            <li role="presentation" class="DeletionRequests"><a href="#">Deletion Requests</a></li>
            <li role="presentation" class="DeletionResponses"><a href="#">Deletion Responses</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <label><input type="checkbox" id="viewRead"/>View read notifications</label>
    </div>
</div>

<div class="col-md-12">
    <div class="notificationView">
        @Html.Partial("UserNotifications", Model)
    </div>
</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptFile("~/Scripts/Custom/UserNotificationFilters.js");
}