@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SportBoard</h1>
    <p class="lead">SportBoard allows users with similar interests to post related photos and discuss, like and dislike these photos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>