
@{
    ViewBag.Title = "Create";
}

<h2>Add Post</h2>

<form id="form">
    <div class="input-group">
        <div class="col-md-12">
            <textarea rows="4" , cols="50" id="textInput"></textarea>
        </div>
    </div>
    <div class="input-group">
        <div class="col-md-10">
            <input type="file" id="imageUploadForm" name="image" accept="image/*" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Create Feed" class="btn btn-success" id="submit" />
        </div>
    </div>
</form>

@section scripts{
    <script>

        $(document).ready(function () {
            $("#form").on("submit", function (e) {
                e.preventDefault()
                var formData = new FormData();
                var totalFiles = document.getElementById("imageUploadForm").files.length;
                var textInput = $("#textInput").val();
                formData.append("textInput", textInput);

                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("imageUploadForm").files[i];
                    formData.append("imageUploadForm", file);
                }
                $.ajax({
                    type: "POST",
                    url: '/Feed/Create',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        window.location.href = response.Url;
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Unknown error occured. Please try again!");
                    }
                });
            });
        });
    </script>
}