
@{
    ViewBag.Title = "Create";
}

<style>
    h2 {
        text-align: center;
    }
</style>
<div class="feed-create-div">
    <h2>Create Feed</h2>

    @*@using (Html.BeginForm("Upload", "Feed", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="feedText">
                <p>To create a feed, enter a name and a index photo. Optionally you can give the feed a description.</p>
            </div>
            @*<div class="input-group">
                    <input type="text" class="form-control" placeholder="Feed Name" aria-describedby="basic-addon1" name="feedName">
                </div>

                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                    <div>
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                    </div>
                </div>*@


    <form id="form feed-form" method="post" onsubmit="return AjaxPost(this)" enctype="multipart/form-data">
        <div class="input-group" style="margin-bottom: 5px; width: 100%;">
            <div class="col-md-12">
                <input type="text" id="feedName" class="form-control" placeholder="Feed Name" aria-describedby="basic-addon1" name="feedName" required>
            </div>
        </div>
        <div class="input-group" style="margin-bottom: 5px; width: 100%;">
            <div class="col-md-10">
                <input type="file" id="imageUploadForm" name="image" accept="image/*" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create Feed" class="btn btn-success" id="submit" />
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#form").on("submit", function (e) {
                e.preventDefault()
                var formData = new FormData();
                var totalFiles = document.getElementById("imageUploadForm").files.length;
                var feedName = $("#feedName").val();
                formData.append("feedName", feedName);
                
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("imageUploadForm").files[i];
                    formData.append("imageUploadForm", file);
                }
                $.ajax({
                    type: "POST",
                    url: '/Feed/Create',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert("success");
                        window.location.href = response.Url;
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Feed name is already taken or the image is invalid. Please try again!");
                    }
                });
            });
        });

        //function AjaxPost(formData) {
        //    var ajaxConfig = {
        //        type: "POST",
        //        url: "/Feed/Create",
        //        data: new FormData(formData),
        //        success: function (response) {
        //            window.location.href = response.Url;
        //        }
        //    }

        //    if ($(formData).attr('enctype') == "multipart/form-data") {
        //        ajaxConfig["contentType"] = false;
        //        ajaxConfig["processData"] = false;
        //    }

        //    $.ajax(ajaxConfig);
        //    return false;
        //}

    </script>
}


