@model IEnumerable<SportBoard.Data.DAL.Feed>
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search Feeds.." class="form-control"/>
        </div>
    </div>
</div>

@Html.Partial("SearchFeeds", Model)

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {

        $("#Search").on("input", function () {
            var searchText = if;

            $.ajax({
                type: "GET",
                url: '/Feed/Search?searchText=' + searchText,
                success: 
            })
        });
    });
</script>