
@{
    ViewBag.Title = "UploadProfilePicture";
}

<h2>Upload Profile Picture</h2>

<div class="upload-photo">
    <form id="form photo-form" method="post" onsubmit="return AjaxPost(this)" enctype="multipart/form-data">
        <div class="input-group" style="margin-bottom: 5px; width: 100%;">
            <div class="col-md-10">
                <input type="file" id="imageUploadForm" name="image" accept="image/*" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Update Profile Picture" class="btn btn-success" id="submit" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        
        function AjaxPost(formData) {
            var ajaxConfig = {
                type: "POST",
                url: "/Manage/UploadProfilePicture",
                data: new FormData(formData),
                success: function (response) {
                    window.location.href = response.Url;
                },
                error: function () {
                    alert("An unknown error occured! Please try again or contact an administrator.");
                }
            }

            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }

            $.ajax(ajaxConfig);
            return false;
        }



    </script>    
}
